# Ignore the virtual environment folder
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask specific
instance/
.webassets-cache

# Environment variables
.env
*.env

# IDE specific
.vscode/
.idea/
*.swp

# Logs and local files
*.log
*.sqlite3
